{
  "version": "0.0.1",
  "configurations": [
    {
      "name": "{{PROJECT_NAME}}",
      "runtimeExecutable": "{{RUNTIME_EXECUTABLE}}",
      "runtimeArgs": {{RUNTIME_ARGS}},
      "port": {{PORT}}
    }
  ]
}
